/* Headers */

/* MainHeader */
.header {
    width: 100%;
    min-height: 6.5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 1rem;
    background-color: var(--colorPrimario);
    position: sticky;
    /* top: 0; */
    /* left: 0; */
    box-shadow: 0px 0px 3px 1px rgba(0,0,0,0.75);
    -webkit-box-shadow: 0px 0px 3px 1px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 3px 1px rgba(0,0,0,0.75);
    z-index: 1;
}
@media (min-width: 992px) {
    .header {
        display: none;
    }
}
.header__contenido__empresa {
    display: flex;
    align-items: center;
    gap: 1rem;
    text-decoration: none;
}
.header__contenedor__logo {
    width: 5.5rem;
}
.header__imagen__barra {
    font-size: 3.7rem;
    color: var(--colorBlanco);
    cursor: pointer;
}
.header__nombreempresa {
    color: var(--colorBlanco);
    text-transform: uppercase;
    font-weight: 900;
    font-size: 2rem;
}