/* HomePage */
.seccion__anuncios__comunidad {
    padding: 2rem 0;
    /* position: relative; */
}
.panel__recordatorio {
    display: none;
}
@media (min-width: 992px) {
    .seccion__anuncios__comunidad {
        display: grid;
        grid-template-columns: 3fr 1fr;
        gap: 2rem;
    }
    .panel__recordatorio {
        display: block;
        width: 100%;
        background-color: var(--colorBlanco);
        position: sticky;
        top: 8.5rem;
        height: fit-content;
        padding: 1rem;
        border-radius: 1rem;
    }
}
.anuncios__contenedor {
    margin-top: 2rem;
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
}
.anuncios__busqueda {
    position: relative;
}
.anuncios__busqueda__entrada {
    width: 100%;
    font-size: 1.3rem;
    padding: 1rem 4rem 1rem 1rem;
    border-radius: 1rem;
    border: .1rem solid var(--colorBlanco);
    outline: none;
    background-color: var(--colorBlanco);
    color: var(--colorPrimario);
}
.anuncios__busqueda__entrada:hover {
    border-color: var(--colorPrimario);
}
.anuncios__busqueda__imagen {
    position: absolute;
    right: 1.3rem;
    top: 1rem;
    font-size: 1.7rem;
    color: var(--colorPrimario);
}
.anuncios__contenedor__mostrarmas {
    margin-top: 1.5rem;
}
.anuncios__mostrarmas {
    margin: 0 auto;
    display: block;
    /* background-color: var(--colorBlanco); */
    background-color: transparent;
    outline: none;
    /* border: .2rem solid var(--colorPrimario); */
    border: none;
    padding: 1rem 2.5rem;
    border-radius: 1rem;
    font-weight: 700;
    cursor: pointer;
    color: var(--colorPrimario);
}
.anuncios__mostrarmas__imagen {
    font-size: 1.5rem;
}

/* CalendarPage */
/* .seccion__calendario {
    padding: 2rem 0;
} */
.calendario__opciones {
    background-color: var(--colorBlanco);
    margin-top: 1rem;
    border-radius: 1rem;
    padding: 1rem 0;
    /* border: .2rem solid var(--colorPrimario); */
}
.calendario__opciones__titulo {
    text-align: center;
    font-size: 1.5rem;
    text-transform: uppercase;
}
.calendario__opciones__contenido {
    margin-top: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}
.calendario__opciones__opcion {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}
.calendario__opciones__boton {
    outline: none;
    border: .2rem solid var(--colorPrimario);
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
    background-color: #e0daf7;
    cursor: pointer;
}
.calendario__opciones__boton[disabled] {
    pointer-events: none;
    opacity: 0.7;
    background-color: var(--colorGris);
}
.calendario__opciones__boton:active {
    background-color: var(--colorPrimario);
    border-color: var(--colorBlanco);
}
.calendario__opciones__boton:active .calendario__opciones__boton__imagen {
    color: var(--colorBlanco);
}
.calendario__opciones__boton__imagen {
    color: var(--colorPrimario);
    font-size: 2rem;
}
.calendario__contenido {
    margin: 1rem 0;
    background-color: var(--colorBlanco);
    border-radius: 1rem;
    padding: 2rem 1rem;
}
.calendario__opciones__nombre {
    text-align: center;
    font-size: 1.1rem;
    color: var(--colorPrimario);
    font-weight: 700;
    min-height: 2rem;
    width: 7rem;
}
.calendario__contenido__titulo {
    font-size: 2.5rem;
    color: var(--colorPrimario);
    text-transform: uppercase;
    font-weight: 900;
    text-align: center;
}
.calendario__reservar__boton {
    /* overflow: hidden; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 7.5rem;
    height: 7.5rem;
    border-radius: 50%;
    font-size: 1.1rem;
    font-weight: 700;
    outline: none;
    border: .2rem solid var(--colorPrimario);
    background-color: var(--colorBlanco);
    position: fixed;
    bottom: 8.5rem;
    right: 1rem;
    cursor: pointer;
    color: var(--colorPrimario);
    transition: all .2s;
    box-shadow: 0px 0px 3px 2px rgba(43,81,102,0.75);
    -webkit-box-shadow: 0px 0px 3px 2px rgba(43,81,102,0.75);
    -moz-box-shadow: 0px 0px 3px 2px rgba(43,81,102,0.75);
    /* border: none; */
    z-index: 5;
}
.calendario__reservar__boton:hover {
    background-color: var(--colorTarjeta);
    color: var(--colorPrimario);
    /* border-color: var(--colorBlanco); */
}
.calendario__reservar__boton__contenedor__imagen {
    width: 3.5rem;
}
.seccion__calendario .calendario__mes {
    margin-top: 2rem;
}
.contenedor__spinner__calendario {
    margin-top: 3rem;
}
.contenedor__spinner__calendario .sk-circle {
    width: 6rem;
    height: 6rem;
}
.spinner__calendario__texto {
    text-align: center;
    font-size: 1.5rem;
    font-weight: 700;
    color: var(--colorPrimario);
    margin-top: 2rem;
}

/* FoodPage */
.seccion__productos {
    overflow: hidden;
}
.productos__contenido {
    margin: 1rem 0;
    background-color: var(--colorBlanco);
    border-radius: 1rem;
    padding: 1rem;
}
.productos__titulo {
    color: var(--colorPrimario);
    text-transform: uppercase;
    text-align: center;
    font-size: 2rem;
    font-weight: 700;
}
.producto__almuerzo {
    /* padding: 1rem; */
    background-color: var(--colorTarjeta);
    border: .2rem solid var(--colorPrimario);
    overflow: hidden;
    border-radius: 2rem;
}
.producto__almuerzo__contenedor__imagen {
    width: 100%;
    height: 18rem;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    overflow: hidden;
}
.producto__almuerzo__imagen {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center center;
}
.producto__almuerzo__contenido {
    padding: 1rem;
}
.producto__almuerzo__dia {
    color: var(--colorPrimario);
    font-size: 1.8rem;
    font-weight: 700;
}
.producto__almuerzo__nombre {
    margin-top: 1rem;
    font-size: 1.5rem;
    background-color: var(--colorSecundario);
    display: inline-block;
    padding: .5rem 2rem;
    border-radius: 1rem;
    color: var(--colorPrimario);
    font-weight: 700;
}
.producto__almuerzo__descripcion {
    margin-top: 1rem;
    color: var(--colorPrimario);
    font-size: 1.3rem;
    text-align: justify;
    padding: 0 .5rem;
}
.producto__almuerzo__reservar {
    margin-top: 1rem;
    padding: .8rem 2rem;
    border-radius: 1rem;
    outline: none;
    border: .1rem solid var(--colorPrimario);
    color: var(--colorPrimario);
    font-size: 1.5rem;
    font-weight: 700;
    cursor: pointer;
    transition: all .2s;
}
.producto__almuerzo__reservar:hover {
    background-color: var(--colorPrimario);
    color: var(--colorBlanco);
}
.seccion__productos .swiper {
    width: 28rem;
    margin: 2rem auto 0 auto;
}
.seccion__productos .swiper-slide {
    border-radius: 1.5rem;
}

/* PublicationPage */
/* .seccion__publicacion {
    padding: 2rem 0;
} */
.publicacion__contenido {
    margin: 1rem 0;
    padding: 2rem 1rem;
    border-radius: 1rem;
    background-color: var(--colorBlanco);
}
.publicacion__titulo {
    color: var(--colorPrimario);
    text-align: center;
    font-size: 2rem;
    text-transform: uppercase;
}
.publicacion__informacion {
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}
.publicacion__imagen__contenedor {
    margin: 0 auto;
}
.publicacion__descripcion {
    font-size: 1.4rem;
    text-align: justify;
    padding: 0 1rem;
}

/* ReservationPage */
/* .seccion__reserva {
    background-color: green;
} */
.reserva__contenido {
    margin: 1rem 0;
    background-color: rgb(240, 239, 239);
    border-radius: 1rem;
    padding: 2rem 1rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}
.reserva__producto {
    background-color: rgb(211, 179, 179);
    border-radius: 2rem;
    padding: 1rem 0;
}
.reserva__producto__titulo {
    text-transform: uppercase;
    color: var(--colorPrimario);
    text-align: center;
    font-weight: 700;
    font-size: 1.8rem;
}
.producto__seccion {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-top: 1rem;
    gap: 1rem;
    padding: 1rem;
}
.producto {
    padding: 1rem;
    cursor: pointer;
    border: .2rem solid rgb(211, 179, 179);
    border-radius: 2rem;
}
.producto.activo {
    border-color: var(--colorPrimario);
}
.producto__contenedor__imagen {
    width: 15rem;
    height: 15rem;
    overflow: hidden;
    margin: 0 auto;
}
.producto__imagen {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center center;
}
.producto__nombre {
    margin-top: 1rem;
    text-align: center;
    font-size: 1.4rem;
    font-weight: 700;
    color: var(--colorPrimario);
}