.calendario__mes__nombre {
    background-color: rgb(203, 179, 226);
    color: white;
    padding: 1rem 0;
    text-align: center;
    font-size: 2rem;
}
.calendario__mes__semana {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
}
.calendario__mes__semana__dia {
    text-align: center;
    padding: 1rem 0;
    background-color: cadetblue;
    font-weight: 700;
    font-size: 1.2rem;
    color: white;
}
.calendario__mes__dias {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    background-color: bisque;
    gap: .1rem;
    border: .1rem solid bisque;
}
.calendario__mes__dia {
    background-color: white;
    text-align: center;
    padding: 2rem 0;
    font-weight: 700;
    color: #006666;
    cursor: pointer;
    transition: all .2s;
    font-size: 1.2rem;
    position: relative;
}
.calendario__mes__dia:hover {
    background-color: rgb(197, 174, 197);
    color: white;
}
/* .calendario__mes__dias .calendario__mes__dia:first-of-type {
    grid-column: 4 / span 1;
} */

.seccion__calendario {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.calendario__mes__dia__almuerzo {
    position: absolute;
    right: .2rem;
    bottom: .2rem;
    padding: .4rem;
    border-radius: .5rem;
    background-color: cadetblue;
    color: white;
}