/* Globales */
:root {
    --fuente-principal: 'Roboto', sans-serif;
    --colorPrimario: #2b5166;
    --colorSecundario: #429867;
    --colorBlanco: #FFFFFF;
    --colorGris: #808080;
    --colorNegro: #000000;
}
html {
    font-size: 62.5%;
    box-sizing: border-box;
}
*,
*:before,
*:after {
    box-sizing: inherit;
    padding: 0;
    margin: 0;
}
img {
    max-width: 100%;
    display: block;
    height: auto;
}
body {
    font-family: var(--fuente-principal);
    background-color: #bac9a9;
}

/* Utilitarios */
.contenedor {
    width: 95%;
    max-width: 120rem;
    margin: 0 auto;
}