/* Globales */
:root {
    --fuente-principal: 'Roboto', sans-serif;
}
html {
    font-size: 62.5%;
    box-sizing: border-box;
}
*,
*:before,
*:after {
    box-sizing: inherit;
    padding: 0;
    margin: 0;
}
img {
    max-width: 100%;
    display: block;
    height: auto;
}
body {
    font-family: var(--fuente-principal);
    background-color: #e7e4d5;
}